
.design {
  font-size: 0.75em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.container {
  border: 2px solid rgb(205, 205, 205);
  border-radius: 4px;
  margin: 6px;
  padding: 6px;
}
.container:hover{
  border:2px solid #00b1d2;
  box-shadow: 1px 0px 0px 3px #e8f9fb;
  
}

.sec {
  margin: 50px auto;
  border: 1px solid rgb(202, 201, 201);
  padding: 2px;
  width: 55%;
}

h4 {
  color: black;
  padding-left: 10px;
}

.input {
  font-size: 0.85em;
}

.inner-div-icon {
  float: right;
}

.inputPopup {
  font-size: 0.75em;
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 4px;
}

.answer {
  margin-left: 30px;
}

.proceedbtn {
  float: right;
  margin-top: 0px;
  background-color: white;
}

.ThankYou {
  margin-top: 25vh;
  margin-right: 25vh;
  margin-left: 25vh;
  background-color: blanchedalmond;
  text-align: center;
  box-shadow: 5px 7px 8px 8px whitesmoke;
}

.popup {
  position: absolute;
  top: 40vh;
  height: auto;
  width: 20%;
  margin-left: 40%;
  border: 1px solid rgb(203, 203, 203);
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  font-size: 0.8em;
}

.cont {
  opacity: 0.1;
}

.popupWidth {
  border: 1px solid #f5f5f5;
  padding: 70px;
  box-shadow: 5px 4p 6px 7px whitesmoke;
}

input[type="radio"] {
  margin-right: 5px;
  position: relative;
  top: 2px;
  accent-color: blue;
  display: inline;
}

button[type="submit"] {
  background-color: #00558a;
  width: 102%;
  margin-top: 15px;
  color: white;
  height: 30px;
  font-size: 1em;
}

.popupWidth {
  border: 1px solid #f5f5f5;
  padding: 70px;
  box-shadow: 5px 4p 6px 7px whitesmoke;
}

.content.hide {
  display: none;
}

.content.show {
  margin-top: 0px;
  display: block;
}

.validationSummary {
  margin-top: 8px;
  margin-left: 10px;
  color: rgb(0, 0, 0);
}

li {
  color: red
}

.gaugecenter{
position: absolute;
top:20px;
left: 30vw;
margin:auto;
margin-left:auto;
margin-top: 10%;
border: 2px solid rgb(172, 172, 172);
background-color: white;
}

.gaugecenter h4 ,p{
  text-align: center;
}

.gaugecenter p{
  position: absolute;
  top:75%;
  left: 40%;
}

hr{
  position: absolute;
  width: 90%;
  top: 67.6%;
  left: 20px;
  overflow: hidden;
}
/* .recharts-surface{
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
} */

/* .PieChart{
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
} */

.RenewBtn{
  background-color: #00dbab;
  padding: 10px;
  color:white;
  font-size: 0.9rem;
  border: 1px solid #4ae1bc;
  border-radius: 4px;
  padding-left:30px ;
  padding-right:30px ;
  position: absolute;
  top: 88%;
  left: 35%;
}

.questioningBorder{
  border: 1px solid cyan;
}

span,label,input{
  display: inline;
  width:10px
}

.table{
  display: inline-block;
  width:40%;
  vertical-align:top;
  margin-right:40px;
  margin-top:5px;
}